.exercises__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.exercises__list-item-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exercises__card {
  margin-top: 20px;
}

.exercises__checkbox {
  margin-right: 5px;
}

.exercises__checkbox--crossouted {
  text-decoration: line-through;
}
